*.DS_STORE
matlab/src/constraints/helper/codegen/*
matlab/src/solveShapeMatch/output/*
matlab/data/debugShapes/*
matlab/data
logs/
*.mat
matlab/vis/*.png
matlab/*.png
matlab/result_png/*.png
.vscode/
*.png
matlab/src/solveShapeMatch/out*
build/
matlab/src/solveShapeMatch/*_xyz/
